parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Kernel.php
        - src/Schedule.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml